@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[v-cloak]{
    display: none;
}

body, html{
    @apply bg-primary-900;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1150px;
    @apply mx-auto px-6 md:px-4;
}

.container-fluid{
    @apply mx-auto px-6 md:px-10;
    max-width: 1400px;
}

.pre-header{
   @apply bg-logo-blue text-white py-2; 
}

.cover .header.fixed{
    background-color: #3E486B;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 1rem 0;
}

.cover .header.fixed .logo img{
    width: 150px;
}


.cover{
    @apply bg-cover bg-center bg-no-repeat bg-fixed bg-primary-900 py-10 md:py-16 relative;
}

.cover video{
    @apply absolute top-0 left-0 w-full h-full object-cover z-0;
}

.cover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    @apply bg-gradient-to-t from-transparent to-primary-900 opacity-75;
}

.cover header, .cover .container{
    @apply relative z-10;
}

.cover .logo{
    @apply w-52 h-auto;
}

@media screen and (max-width: 768px){
    .cover .logo{
        @apply w-52 h-auto;
    }
}

.cover .nav{
    @apply justify-between items-center space-x-3;
}

.cover .nav a{
    @apply text-white font-bold uppercase text-sm;
}

.cover .nav a:hover{
    @apply underline text-secondary-100;
}

.cover-form{
    @apply bg-primary-900 bg-opacity-50 rounded-lg shadow-lg p-5 md:p-8;
}

h1,h2,h3,h4,h5,h6{
    @apply uppercase leading-relaxed;
}

h1{
    @apply text-4xl font-bold mb-9 leading-relaxed;
}
h2{
    @apply text-3xl font-bold mb-6 leading-tight;
}
h3{
    @apply text-2xl font-bold mb-4 leading-tight;
}
h4{
    @apply text-xl font-bold mb-3 leading-tight;
}

@media screen and (max-width: 768px){
    h1{
        @apply text-3xl font-bold mb-9 leading-relaxed;
    }
    h2{
        @apply text-2xl font-bold mb-6 leading-tight;
    }
    h3{
        @apply text-xl font-bold mb-4 leading-tight;
    }
    h4{
        @apply text-lg font-bold mb-3 leading-tight;
    }
}

p{
    @apply text-base mb-4;
}

.link{
    @apply underline font-bold;
}

.form-group{
    @apply mb-6;
}

.form-control[type="text"][placeholder]{
    @apply block w-full rounded-lg bg-white bg-opacity-25 border-0 px-4 py-3 placeholder-white text-white;
}

.btn{
    @apply rounded-lg font-bold py-3;
}

.btn.btn-lg{
    @apply px-8 text-lg py-4;
}

.btn-secondary{
    @apply bg-secondary-100 text-primary-900;
}

.img-gradient-overlay{
    @apply relative overflow-hidden bg-center bg-cover bg-no-repeat;
}

.img-gradient-overlay:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @apply bg-gradient-to-b from-transparent to-primary-900 opacity-75;
}

.article-thumb{
    @apply bg-center bg-cover bg-no-repeat shadow-md;
}

.events{
    @apply py-10 md:py-24 bg-primary-900 bg-center bg-cover bg-no-repeat bg-fixed relative
}

.events:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    @apply opacity-50 bg-gradient-to-t from-transparent to-primary-900;
}

.events video{
    z-index: 1;
    @apply absolute inset-0 w-full h-full object-cover;
}

.eventSlider{
    @apply bg-primary-900 bg-cover bg-center bg-no-repeat bg-opacity-75 p-6 md:p-10 flex flex-col md:flex-row items-stretch justify-between space-y-7 md:space-y-0 md:space-x-10 shadow rounded-lg;
}

.footer{
    @apply bg-primary-900 text-white py-10 md:py-16;
}

/* BUTTONS */
.btn{
    @apply rounded font-bold py-2 px-3 text-center inline-block;
}

.btn-primary{
    @apply bg-logo-blue text-white;
}

.btn-primary-outline{
    @apply border border-logo-blue text-logo-blue;
}

.btn-secondary-outline{
    @apply border border-secondary-100 text-secondary-900;
}

/* ALERT */
.alert{
    @apply rounded-lg p-4 mb-4;
}
.alert-success{
    @apply bg-logo-blue bg-opacity-25 text-logo-blue;
}

/* Mobile Menu */
.mobileMenu{
    @apply fixed inset-0 bg-primary-900 p-10 flex flex-col items-start space-y-16 justify-center;
    z-index: 9999;
}

.mobileMenu nav a{
    @apply text-white font-bold uppercase text-xl block w-full py-2 border-b border-white border-opacity-25;
}

.mobileMenu .closeMenu{
    @apply absolute top-14 right-7;
}

/* FORMS */
.form-group{
    @apply mb-6;
}

.form-control.light{
    @apply block w-full rounded bg-white !border !border-gray-300 px-4 py-3 !placeholder-gray-400 !text-gray-700;
}

.bg-img-section{
    height: auto
}

@media screen and (max-width: 768px){
    .bg-img-section{
        height: 50vh;
    }
}

.post-image-slide{
    @apply bg-center bg-cover bg-no-repeat;
    height: 500px;
    width: 838.5px;
}

@media screen and (max-width: 768px){
    .post-image-slide{
        height: 300px;
        width: 100vw;
    }
}


.owl-next, .owl-prev{
    @apply bg-white bg-opacity-100 rounded-full w-10 h-10 flex items-center justify-center mt-2;
}

.owl-next:hover, .owl-prev:hover{
    @apply bg-opacity-75;
}

.owl-next{
    @apply absolute top-1/2 right-3 transform -translate-y-1/2 z-10;
}

.owl-prev{
    @apply absolute top-1/2 left-3 transform -translate-y-1/2 z-10;
}

.magazineThumb{
    @apply bg-center bg-cover bg-no-repeat bg-gray-200 shadow-md;
    width: 100px;
    height: 135px;
}


.bannerVertical{
    @apply bg-center bg-cover bg-no-repeat bg-gray-200 shadow-md rounded relative;
    width: 100%;
    height: 483px;
}
.bannerVertical:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @apply bg-white opacity-75;
}
.bannerVertical span{
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-primary-900 font-bold text-xl whitespace-nowrap text-center;
}

.videoContainer{
    @apply bg-center bg-cover bg-no-repeat bg-gray-200 shadow-md rounded;
    width: 640px;
    height: 480px;
}

.bannerSquare{
    @apply bg-center bg-cover bg-no-repeat bg-gray-200 shadow-md rounded relative;
    width: 100%;
    height: 237px;
}

.bannerSquare:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @apply bg-white opacity-75;
}

.bannerSquare span{
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-primary-900 font-bold text-xl whitespace-nowrap text-center;
}

@media screen and (max-width: 768px){
    .bannerVertical{
        height: 364px;
    }
    .bannerSquare{
        height: 178px;
    }
    .bannerVertical span, .bannerSquare span{
        @apply text-sm;
    }
}

.videoPlayerList{
    max-height: 455px;
    padding: 10px;
    background-color: #e6e6e6;
    @apply rounded;
    box-shadow: inset 0 0 10px rgba(0,0,0,.2);
}

.videoThumb{
    @apply bg-center bg-cover bg-no-repeat shadow-md cursor-pointer;
    width: 100%;
    height: 143px;
    background-color: #f2f2f2;
    padding: 10px;
}
